* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin: 10vh 0;
  padding: 0 10px;
}

h2 {
  text-align: center;
  margin: 5vh;
}

main {
  display: flex;
  max-width: 1000px;
  margin: auto;
}

#content {
  margin: auto;
  max-width: 1000px;
}

#editor {
  border: 1px solid #eee;
  flex: 1;
  margin-left: 20px;
}

@media (max-width: 992px) {
  h1 {
    margin: 20px 0;
  }
  main {
    flex-direction: column;
  }
  #editor {
    margin-left: 0;
    margin-top: 20px;
  }
}

.codeflask {
  position: relative !important;
  min-height: 400px;
}

.codeflask--has-line-numbers .codeflask__flatten {
  width: auto !important;
}

.calendar-wrapper {
  width: 100%;
  max-width: 400px;
  margin: auto;
  border: 1px solid #eee;
  padding: 10px;
}

footer {
  font-size: 10px;
  color: #777;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: inline-block;
  left: 0;
}

#content pre {
  background-color: #eee;
  padding: 8px;
  border-radius: 4px;
}

#content code {
  background-color: #eee;
  padding: 0 4px;
  line-height: 20px;
  border-radius: 4px;
  font-size: 16px;
}

#content pre code {
  padding: 0;
}