.calander-box {

}

.week {
  overflow: hidden;
}

.day {
  display: inline-block;
  float: left;
  width: 14.28%;
  text-align: center;
  cursor: pointer;
}

.day.disabled {
  color: #AAA;
}

.day.highlight {
  color: red;
}

.day.current {
  background: orange;
}
