.calander-box {

}

.week {
  overflow: hidden;
}

.day {
  display: inline-block;
  float: left;
  width: 14.28%;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.day.disabled {
  color: #AAA;
}

.day.highlight {
  color: red;
}

.day.selected {
  background: orange;
}

.day.today {
  border: 1px solid green;
}
