.calander-box {

}

.buttons-container {
  cursor: pointer;
}

.week {
  overflow: hidden;
}

/* weekend */
.week .day:first-child, .week .day:last-child {
  color: orange;
}

/* sunday */
.week .day:first-child {
  color: red;
}

.day {
  display: inline-block;
  float: left;
  width: 14.28%;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
}

.day.disabled {
  color: #AAA;
}

/* vertical highlight */
.week .day.highlight {
  color: blue;
}

.day.selected {
  background: orange;
}

.day.today {
  border: 1px solid green;
}

.months-container.hidden, .weeks-container.hidden {
  display: none;
}

.months-wrapper {
  overflow: hidden;
}

.months-wrapper .month {
  display: inline-block;
  float: left;
  width: 25%;
  text-align: center;
  cursor: pointer;
}
